// Example override Bootstrap variable for button
// $btn-padding-y: 10rem;

$primary: #25284f;
$secondary: #fae34c;

$border-radius-xl: 0.5rem;

$position-values: (
  0: 0,
  10: 10%,
  15: 15%,
  20: 20%,
  30: 30%,
  40: 40%,
  50: 50%,
  100: 100%,
);
